<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="yo-meals">
  <test thread-count="5" name="alltests">
    <classes>    
      <class name="tests.ProfileTest"/>
      <class name="tests.MealItemTest"/>
      <class name="tests.SearchTest"/>
    </classes>
  </test> 
</suite> 
